<div class="control-group">
  <%= f.label 'Answer', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :name, :class => 'text_area',:rows=>2 %>
  </div>
</div>
<div class="control-group">
  <%= f.label :correct, :class => 'control-label' %>
  <div class="controls">
    <%= f.check_box :correct %>
  </div>
</div>





  <%= link_to_remove_fields "Remove Option", f %>
